* {
    margin: 0
}

body {
    background-image: url("bg.jpg");
    background-size: cover;
}

form {
    width: 500px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.769);
    color: white;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
}

label, input {
    display: block;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 30px;
    font-family: cursive;
}

button {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: green;
    margin-top: 30px;
    font-size: 20px;
}

input {
    width: 95%;
    font-size: 25px;
    padding: 5px;
}

label {
    font-family: monospace;
    font-size: 20px;
}